
<div class="header">
  <span>
    <img mat-list-avatar src="{{BaseURL}}images/logo.png" height=30 width=30>
  </span>
  <a mat-button routerLink="/home">
    <span class="fa fa-home fa-lg"></span> Home
  </a>
  <a mat-button routerLink="/aboutus"><span class="fa fa-info fa-lg">
    </span> About
  </a>
  <a mat-button routerLink="/menu">
    <span class="fa fa-list fa-lg"></span> Menu
  </a>
  <a mat-button routerLink="/contactus">
    <span class="fa fa-address-card fa-lg"></span> Contact
  </a>

  <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center"
      fxLayoutAlign.gt-sm="center center"
      fxLayoutGap="10px">

    <div fxFlex fxFlex.gt-sm="50%">
      <h1>Welcome to Food App</h1>
      <p>We will explore the best cuisines in Bay Area!</p>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
    </div>
    <div fxFlex></div>
  </div>
</div>
