<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>Started in 2018, Gavin Belson quickly established itself as a culinary icon par excellence in Bay Area.</p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>3 Aug. 2018</dd>
              <dt>Major Stake Holder</dt>
              <dd>TW Fine Foods Inc.</dd>
              <dt>Last Year's Turnover</dt>
              <dd>$1,234,567</dd>
              <dt>Employees</dt>
              <dd>4000</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>We’re proud to put our name on the next generation of food app..</h3>
        <footer>-- Gavin Belson,
          <cite>Gavin Belson, Founder and CEO, 2018</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div fxFlex>
    <h2>Corporate Leadership</h2>
      <mat-list *ngIf="leaders" [@expand]>
        <mat-list-item *ngFor="let leader of leaders">
          <img mat-list-avatar src="{{BaseURL + leader.image}}" alt={{leader.name}}/>
          <h4 mat-line>{{leader.name}} {{leader.abbr}}</h4>
          <p mat-line>{{leader.designation}}</p>
          <p mat-line>{{leader.description}}</p>
        </mat-list-item>
      </mat-list>
  </div>
</div>
